#board {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: -1;
  gap: 2vw;
  padding: 5vw 25vh;
  background-color: rgb(84, 41, 21);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  background-color: rgb(249, 249, 248);
  border-radius: 5px;
  position: relative;
  font-size: 40px;
  box-shadow: 10px 8px #13090181;
  aspect-ratio: 1 / 1;

  &:not(.hidden)::after {
    content: attr(data-emoji);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.hidden {
    background: url("../img/back-card.jpg");
    background-size: cover;
  }
}

/* @media (min-width: 568px) {
  #board {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  #board {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
} */
