@import "font";
@import "base";
@import "layout";
@import "modules/_board.scss";
@import "modules/text-box";
h1 {
  font-family: "good-kitty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jeu {
  display: flex;
  justify-content: center;
}
